{% extends "core/base.html" %}
{% block title %}Acerca de{% endblock  %}
{%block background%} {% load static %} {%static 'core/img/descarga.jpg'%} {%endblock%}
{%block header%}
<h1>Cerca de la Tienda</h1>
<span class="subheading"
  ></span
>
{%endblock%} 
{% block content %}
<h2>¿Quienes somos?</h2>
<p>¡Bienvenido a Tienda de Películas, tu destino cinematográfico definitivo! Nos enorgullece ser tu puerta de entrada al maravilloso mundo del cine, ofreciéndote una experiencia de compra única y un catálogo que abarca desde los clásicos atemporales hasta las emocionantes novedades.</p>
<h2>¿Nuestra Pasión por el Cine?</h2>
<p>En Tienda de Películas, la pasión por el cine es el corazón de nuestro negocio. Nosotros, como entusiastas del séptimo arte, hemos creado este espacio para compartir esa pasión contigo. Creemos en la magia del cine para inspirar, entretener y conectar a las personas de todo el mundo.</p>
<h2>¿Compromiso con la Variedad y Calidad?</h2>
<p>Nos esforzamos por ofrecer una selección diversa que satisfaga todos los gustos cinematográficos. Desde los éxitos de taquilla que han dejado huella hasta las joyas independientes que merecen ser descubiertas, cada película en nuestro catálogo ha sido cuidadosamente seleccionada por su calidad y su capacidad para cautivar a la audiencia.</p>
<h2>¿Experiencia de Compra Inigualable?</h2>
<p>Entendemos que la experiencia de compra es crucial. Por eso, hemos diseñado nuestro sitio web para que sea fácil de navegar, con reseñas y recomendaciones que te ayudarán a tomar decisiones informadas. Tu satisfacción es nuestra prioridad, y trabajamos arduamente para asegurarnos de que cada compra sea una experiencia placentera.</p>

{% endblock  %}

